[init]
  defaultBranch = main
[user]
  signingkey = 159FB708482E016A
[includeIf "gitdir:/Git/"]
    path = ~/.gitconfig-work

[includeIf "gitdir:~/src/"]
    path = ~/.gitconfig-personal

[commit]
  gpgsign = true

[gpg]
  program = gpg

[core]
  sshCommand = ssh
  editor = emacs

[push]
  default = simple
