[init]
  defaultBranch = main
[user]
  name = Lee Williams
  email = leemw1977@outlook.com
  signingkey = 5BEA3E8E3EF57E94407D5427BF515FB7641306C5

[commit]
  gpgsign = true

[gpg]
  program = gpg

[core]
  sshCommand = ssh
  editor = emacs

[push]
  default = simple
